{% extends 'base.html' %} {% block content %}
<form
  method="post"
  class="max-w-md mx-auto mt-32 p-5 dark:bg-gray-800 dark:border-gray-700 rounded-md shadow-md text-white"
>
  {% csrf_token %}
  <div class="mb-4">
    <label
      for="{{ form.username.id_for_label }}"
      class="block text-gray-100 text-sm font-medium"
      >Username</label
    >
    {{ form.username }}
  </div>
  <div class="mb-4">
    <label for="{{ form.password1.id_for_label }}" class="block text-gray-100"
      >Password</label
    >
    {{ form.password }}
  </div>
  <button type="submit" class="bg-blue-500 text-white py-1 px-4 rounded-md">
    login
  </button>
</form>
{% endblock %}
