{% extends 'base.html' %} {% block content %}
<form
  method="post"
  class="max-w-md mx-auto mt-32 p-5 bg-slate-700 rounded-md shadow-md"
>
  <h1 class="text-2xl mb-1">Signup</h1>
  {% csrf_token %}
  <div class="mb-4">
    <label for="{{ form.username.id_for_label }}" class="block text-gray-100"
      >Username</label
    >
    {{ form.username }}
  </div>
  <div class="mb-4">
    <label for="{{ form.password1.id_for_label }}" class="block text-gray-100"
      >Password</label
    >
    {{ form.password1 }}
  </div>
  <div class="mb-4">
    <label for="{{ form.password2.id_for_label }}" class="block text-gray-100"
      >Confirm Password</label
    >
    {{ form.password2 }}
  </div>
  <button type="submit" class="bg-blue-500 text-white py-1 px-4 rounded-md">
    Sign up
  </button>
</form>
{% endblock %}
