{% extends 'base.html' %} {% block content %}
<div class="mx-20 mt-10">
  <!-- Filter Form -->
  <form method="get" class="mb-8">
    <!-- Priority Filter -->
    <label for="priority">Priority:</label>
    <select
      name="priority"
      id="priority"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option value="">All</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>

    <!-- Creation Date Filter -->
    <label for="created_at">Creation Date:</label>
    <input
      type="date"
      name="created_at"
      id="created_at"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg ps-10 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
    />

    <!-- Due Date Filter -->
    <label for="due_date">Due Date:</label>
    <input
      type="date"
      name="due_date"
      id="due_date"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg ps-10 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
    />

    <label for="is_complete">Complete</label>
    <select
      name="is_complete"
      id="is_complete"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option value="">select</option>
      <option value="True">True</option>
      <option value="False">False</option>
    </select>

    <button type="submit" class="bg-blue-700 text-white py-1 px-4 rounded-md">
      Filters
    </button>
  </form>

  <table class="table-auto border-collapse border border-slate-500 container">
    <thead>
      <tr>
        <th class="border border-slate-600">Title</th>
        <th class="border border-slate-600">Priority</th>
        <th class="border border-slate-600">Due Date</th>
        <th class="border border-slate-600">Complete</th>
        <th class="border border-slate-600">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td class="border border-slate-700 py-4 pl-8">
          {{ task.title|capfirst }}
        </td>
        <td class="border border-slate-700 p-4 text-center">
          {{ task.priority|capfirst }}
        </td>
        <td class="border border-slate-700 p-4 text-center">
          {{ task.due_date }}
        </td>
        <td class="border border-slate-700 p-4 text-center">
          {% if task.is_complete == True %}
          <p class="text-green-400">True</p>
          {%else%}
          <p class="text-red-400">False</p>
          {%endif%}
        </td>
        <td class="border border-slate-700 p-4 text-center">
          <a class="hover:underline" href="{% url 'task-detail' task.id%}"
            >See details</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul></ul>
  <div class="text-right mt-8">
    <a
      class="bg-blue-500 text-gray-900 px-6 py-2 rounded"
      href="{% url 'create_task' %}"
      >Create Task</a
    >
  </div>
</div>
{% endblock %}
